body, nav, .buttons, .tasks, .task, .difficultyLevel, footer, .difficultyLevel1{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

footer{
  padding-top: 120px;
  justify-content: center;}

body{
  flex-direction: column;
  background: black;
}

.buttons{
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

nav{
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.button{
  background-color: rgb(38, 38, 38);
  color: white;
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  font-weight: bold;
}

.button:hover{
  background-color: rgb(104, 185, 255);
  color: black;
}

.Note{
  color: rgb(104, 185, 255);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: auto;
  padding: 20px;
}

header{
  width: 100%;
  margin: auto;
}

.tasks{
  justify-content: center;
  flex-direction: column;
}

.Backlogs{
  padding-top: 20px;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: larger;
  margin: auto;
}

.task{
  width: 80%;
  margin: auto;
  background: rgb(38, 38, 38);
  border-radius: 10px;
  margin-top: 20px;
  flex-direction: row;
}

.textOfTask{
  text-align: center;
  color: white;
  width: 15%;
  margin-left: 10px;
}

.difficultyLevel{
  width: 15%;
  padding-left: 60%;
  flex-direction: row;
}

.difficultyLevel1{
  width: 15%;
  padding-left: 30%;
  flex-direction: row;
}

.img{
  margin: auto;
  height: 30%;
  width: 30%;
  max-height: 30px;
  max-width: 30px;
  background: rgb(38, 38, 38);
}

.Input{
  background: rgb(38, 38, 38);
  border: 0px;
  width: 20%;
  color: white;
  padding-left: 50%;
}

.type3{
  border-left: 3px solid red;
}

.type2{
  border-left: 3px solid yellow;
}

.type1{
  border-left: 3px solid green;
}



input[type='radio']::before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  left: -2px;
  content: '';
  display: inline-block;
  visibility: visible;
}
input[type = "radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  top: -21px;
  left: -5px;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

input[id="rb1"]:checked:after {
  background-color: green;
}

input[id="rb1"]::before {
  background-color: green;
}

input[id="rb2"]:checked:after {
  background-color: yellow;
}

input[id="rb2"]::before {
  background-color: yellow;
}

input[id="rb3"]:checked:after {
  background-color: red;
} 

input[id="rb3"]::before {
  background-color: red;
} 

#date{
  background: rgb(38, 38, 38);
  color: white;
  border: 0;
  padding-left: 50%;
}

.priority{
  height: 50%;
  position: relative;
  top: 15px;
  padding-left: 50%;
}